<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bombnumber.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{28,26}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{28,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bombpower.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,0},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>death0_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>death0_gost.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,0},{20,28}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{20,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>death0_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,0},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>death0_rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,0},{26,43}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{26,43}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>death0_snake.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,0},{26,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,43}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>death1_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,0},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>death1_gost.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,0},{16,24}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{16,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>death1_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,45},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>death2_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,45},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>death2_gost.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,45},{10,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{10,16}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>death2_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,45},{27,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>death3_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,45},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>death3_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,45},{28,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>death4_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,45},{24,41}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,41}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>down0_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,45},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>down0_gost.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,45},{24,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>down0_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,45},{28,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,45}}</string>
                <key>sourceSize</key>
                <string>{28,45}</string>
            </dict>
            <key>down0_rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,90},{28,41}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{28,41}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>down0_snake.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,90},{26,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{26,37}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>down1_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,90},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>down1_gost.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,90},{26,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>down1_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,90},{28,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,45}}</string>
                <key>sourceSize</key>
                <string>{28,45}</string>
            </dict>
            <key>down1_rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,90},{26,41}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{26,41}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>down1_snake.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,90},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{26,39}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>down2_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,90},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>down2_gost.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,90},{26,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>down2_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,135},{28,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,45}}</string>
                <key>sourceSize</key>
                <string>{28,45}</string>
            </dict>
            <key>down2_rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,135},{26,41}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{26,41}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>down2_snake.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,135},{24,43}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,43}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>hud_bombnumber.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,135},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>hud_bombpower.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,135},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>hud_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,135},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>hud_speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,135},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>key.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,135},{28,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>left0_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,135},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>left0_gost.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,180},{24,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>left0_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,180},{26,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{26,43}}</string>
                <key>sourceSize</key>
                <string>{26,45}</string>
            </dict>
            <key>left0_rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,180},{26,41}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{26,41}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>left0_snake.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,180},{28,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{28,39}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>left1_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,180},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>left1_gost.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,180},{26,30}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>left1_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,180},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{27,45}</string>
            </dict>
            <key>left1_rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,180},{26,39}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{26,39}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>left1_snake.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,180},{26,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{26,37}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>left2_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,225},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>left2_gost.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,225},{26,30}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>left2_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,225},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{27,45}</string>
            </dict>
            <key>left2_rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,225},{26,39}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{26,39}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>left2_snake.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,225},{28,35}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{28,35}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>life.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,225},{30,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,225},{24,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{24,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>up0_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,225},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>up0_gost.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,225},{24,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>up0_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{27,45}</string>
            </dict>
            <key>up0_rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,270},{26,41}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{26,41}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>up0_snake.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,270},{26,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{26,37}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>up1_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,270},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>up1_gost.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,270},{24,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>up1_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,270},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{27,45}</string>
            </dict>
            <key>up1_rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,270},{26,39}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{26,39}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>up1_snake.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,270},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{26,39}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>up2_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,270},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>up2_gost.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,315},{24,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>up2_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,315},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{27,45}</string>
            </dict>
            <key>up2_rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,315},{26,39}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{26,39}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>up2_snake.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,315},{26,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,43}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamesprite.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>gamesprite.png</string>
        </dict>
    </dict>
</plist>
