<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>death0_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>death0_gost.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,0},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>death0_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,0},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>death0_player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,0},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>death0_rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>death0_snake.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,0},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>death1_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,0},{33,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,40}}</string>
                <key>sourceSize</key>
                <string>{33,40}</string>
            </dict>
            <key>death1_gost.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,0},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>death1_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,40},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>death1_player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,40},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>death2_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,40},{33,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,40}}</string>
                <key>sourceSize</key>
                <string>{33,40}</string>
            </dict>
            <key>death2_gost.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,40},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>death2_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,40},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>death2_player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,40},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>death3_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,40},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>death3_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,40},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>death3_player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,80},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>death4_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,80},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>death4_player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,80},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>down0_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,80},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>down0_gost.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,80},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>down0_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,80},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>down0_player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,80},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>down0_rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,80},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>down0_snake.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,80},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>down1_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>down1_gost.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,120},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>down1_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,120},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>down1_player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,120},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>down1_rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,120},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>down1_snake.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,120},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>down2_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,120},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>down2_gost.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,120},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>down2_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>down2_player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,160},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>down2_rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,160},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>down2_snake.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,160},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>left0_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,160},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>left0_gost.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,160},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>left0_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,160},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>left0_player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,160},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>left0_rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,160},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>left0_snake.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>left1_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,200},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>left1_gost.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,200},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>left1_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,200},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>left1_player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,200},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>left1_rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,200},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>left1_snake.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,200},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>left2_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,200},{28,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{28,40}</string>
            </dict>
            <key>left2_gost.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,200},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>left2_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,240},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>left2_player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,240},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>left2_rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,240},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>left2_snake.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,240},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>up0_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,240},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>up0_gost.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,240},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>up0_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,240},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>up0_player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,240},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>up0_rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,240},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>up0_snake.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,280},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>up1_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,280},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>up1_gost.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,280},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>up1_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,280},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>up1_player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,280},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>up1_rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,280},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>up1_snake.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,280},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>up2_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,280},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>up2_gost.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,320},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>up2_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,320},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>up2_player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,320},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>up2_rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,320},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>up2_snake.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,320},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>characters.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>characters.png</string>
        </dict>
    </dict>
</plist>
